@model IEnumerable<ManageSemester.ViewModels.EnrollmentByCourseGroup>

@{
    ViewBag.Title = "Student & Course Statistics";
}

<h2>Student & Course Statistics</h2>

<table>
    <tr>
        <th>
            CourseCode
        </th>
        <th>
            CourseTitle
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseTitle)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>